*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.titre{
    margin-left: 20%;
    margin-top: 35px;
    width: 78%;
    display: flex;
    justify-content: space-between;
}
.titre button{
    width: 15%;
    padding: 10px;
    background-color: rgb(97, 97, 243);
    color: aliceblue;
    border-radius: 10px;
    font-size: 15px;
    border: none;
}
.titre button:hover{
    cursor: pointer;
    background-color:blue ;
}
.table{
     margin: 30px 2% 10px 340px;
     padding: 1%;
    text-align: center;
  

    border: 1px solid rgb(189, 189, 189);
    border-radius: 10px;
  
}
.table table {
    width: 100%;
    border-collapse:collapse ;
}
.table table tr td,th {
  padding: 1%;
     border-top:1px solid rgb(217, 216, 216)  ;
 
}
.table table tr th {
 background-color: rgb(211, 217, 224);
 padding: 10px; 
}
.table table tr td button{
   padding: 7px;
   border-radius: 10px;
   background-color: rgb(211, 217, 224);
   border: none;
}
.table table tr td button:hover{
    cursor:pointer;
    background-color: #acabab;
}
