body {
  font-family: Arial, sans-serif;
  background: #f5f6fa;
 
 
}

.droits-container {
  padding: 40px;
}

.droits-container h1 {
  font-size: 22px;
  margin-bottom: 20px;
}

.droits-box {
  border: 2px solid #dddddd;
  padding: 30px;
  background: #fff;
  border-radius: 20px;
  max-width: 900px;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
}

.select {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 25px;
}

.assure-card {
  background: #f9f9f9;
  padding: 25px;
  border-radius: 8px;
}

.assure-card h2 {
  margin: 0;
}

.company {
  color: #666;
  margin-bottom: 20px;
}

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-bottom: 25px;
}

.stat {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #eee;
}

.stat span {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}

.blue {
  color: #2f80ed;
  font-size: 18px;
}

